body {
    background: linear-gradient(89.9deg, rgba(178, 253, 238, 0.96) -8.1%, rgb(207, 244, 254) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgb(254, 219, 243) 78.7%, rgb(254, 207, 210) 109.2%);
}

h1 {
    color: rgb(0, 115, 255);
    padding-top: 20px;
    padding-bottom: 10px;
}

.info {
    font-size: 12px;
}

button {
    display: block;
    margin: 0 auto;
    color: white;
    background: rgb(33, 6, 214);
    margin-top: 10px;
    margin-right: 55px;
}

.search-button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h2 {
    color: black;
    font-weight: 600;
}

.col-2:hover {
    background-color: rgb(49, 49, 255);
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);

}