body {
background: linear-gradient(109.6deg, rgb(151, 213, 255) 11.2%, rgb(255, 155, 185) 91.1%);
}
ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

li {
    margin-bottom: 0;
    color: #5c636a;
    line-height: 1.5;
}

h1 {
    padding-top: 30px;
}

.small {
    font-size: 12px;
}

.container {
    padding-top: 40px;
    max-width: 600px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.weatherApp {
    padding: 20px;
    border: 1px solid #dee2e6;
    margin: 0 auto;
    border-radius: 12px;
}

#weatherDescription {
    text-transform: capitalize;
}

.searchButton,
.currentLocationButton {
    max-width: 0px;
    margin-left: 15px;
    height: 35px;
}

#city {
    font-size: 30px;
    color: #202124;
}

.weather-temperature .units {
    position: relative;
    font-size: 14px;
    top: -32px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 74px;
    width: 74px;
    float: left;
}

.weather-temperature strong {
    color: #202124;
    font-weight: 200;
    font-size: 64px;
}

.humidity .wind {
    margin: 0px;
}

.details {
    padding-top: 14px;
    padding-left: 10px;
}

.weather-forecast {
    text-align: center;
    margin: 30px 0;
    padding-bottom: 50px;
    font-size: 16px;
}

.forecast-date {
    text-align: center;
    font-size: 16px;
    color: #5c636a;
}

.forecast-temperature {
    text-align: center;
}

.forecast-temp-min {
    color: #5c636a;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.8;
}

.forecast-temp-max {
    color: #5c636a;
    font-weight: bold;
    font-size: 14px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.weather-temperature .active {
    color: #202124;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

a:link {
    color: #5c636a;
    opacity: 0.8;
    text-decoration: none;
}

a:visited {
    color: #5c636a;
    text-decoration: none;
}

.date {
    color: #70757a;
}

.weatherDescription {
    color: #70757a;
}